Flask
alpaca-trade-api
gunicorn
flask-cors
cryptography
openai
google.generativeai
pyotp
pycryptodome
logzero
SmartApi @ git+https://github.com/angel-one/smartapi-python.git
git+https://github.com/angel-one/smartapi-python.git
